.btn-primary {
	background-color: #ea690b;
	border-color: #ea690b;
}

.main-content {
	height: calc(100vh - 60px);
	overflow-y: scroll;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: table;
	width: 100%;
}

footer {
	display: table-row !important;
	height: 100px; 
}

.formation-card.card:hover {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	/*box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);*/
	transition: all 0.3s ease;
}